@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');
@import url('_variables.css');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font: var(--font-default) 'Karla', sans-serif;
  background-color: var(--light-gray);
  overflow-x: hidden;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.price-grid {
  max-width: 318px;
  margin-top: 8.75em;
  background-color: var(--white);
  border-radius: 0.5em;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  box-shadow: 0em 0em 0.375em 0em hsl(0, 0%, 70%);
}

.card {
  padding: 1.5625em;
  background: var(--card-color);
}

.card--padding {
  padding: 1.875em 1.5625em 2.1875em 1.5625em;
}

.card--cyan {
  --card-color: var(--cyan);
}

.card--cyan-light {
  --card-color: var(--light-cyan);
}

.card--border-right {
  border-radius: 0 0 0.5em 0.5em;
}

.card__title {
  font-size: var(--font-M);
  font-weight: 700;
  padding-bottom: 1.5625em;
  color: var(--title-color);
}

.card__title--cyan {
  --title-color: var(--cyan);
}

.card__title--white {
  --title-color: var(--white);
  font-weight: 400;
}

.card__title--padding {
  padding-bottom: 1.25em;
}

.card__subtitle {
  font-size: var(--font-default);
  color: var(--subtitle-color);
}

.card__subtitle--padding {
  padding-bottom: 1.5625em;
}

.card__subtitle--yellow {
  --subtitle-color: var(--bright-yellow);
}

.card__copy {
  font-size: var(--font-S);
  color: var(--copy-color);
}

.card__copy--light {
  --copy-color: var(--light-gray);
}

.card__copy--blue {
  --copy-color: var(--grayish-blue);
  line-height: 2;
}

.card__copy--white {
  --copy-color: var(--white);
}

.card__copy--padding {
  padding-bottom: 1.875em;
}

.card__copy--height {
  line-height: 1.5;
}

.card__copy--size {
  font-size: var(--font-XL);
  font-weight: 700;
}

.card__copy--align {
  color: var(--light-gray);
}

.card__copy--align {
  position: relative;
  left: 0.375em;
  vertical-align: 0.3125em;
}

.card__copy--list {
  list-style-type: none;
}

.btn {
  font: var(--font-default) 'Karla', sans-serif;
  color: var(--white);
  background-color: var(--bright-yellow);
  padding: 0.9375em 6.5em;
  border-radius: 0.625em;
  border: none;
  box-shadow: 0em 0em 0.3125em 0em hsl(0, 0%, 40%);
  box-shadow: inset 0 0 0 0 #fff;
  transition: 0.6s;
}

.btn:hover {
  color: var(--cyan);
  box-shadow: inset 16.5625em 0 0 0 var(--white);
}

footer {
  padding-top: 1.875em;
  padding-bottom: 0.5em;
}

.attribution {
  font-size: var(--font-XS);
  text-align: center;
}

.attribution a {
  color: var(--san-marino);
}

@media (min-width: 752px) {
  .price-grid {
    max-width: 635px;
    margin-top: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .price-grid__item2,
  .price-grid__item3 {
    width: 50%;
  }

  .card {
    padding: 2.375em 2.5em;
  }

  .card__copy--font {
    font-size: var(--font-default);
  }

  .card--padding {
    padding: 2.625em 2.5em;
  }

  .card__title--font {
    font-size: var(--font-L);
  }

  .card__title--white {
    padding-bottom: 0.9375em;
  }

  .card__subtitle--yellow {
    padding-bottom: 0.875em;
  }

  .card__copy--blue {
    line-height: 1.6;
  }

  .card--border-right {
    border-radius: 0 0 0.5em 0;
  }

  .card--border-left {
    border-radius: 0 0 0 0.5em;
  }

  .btn {
    padding: 0.9375em 5.5em;
  }

  .btn:hover {
    box-shadow: inset 15em 0 0 0 #fff;
  }
}